@import '../../styles/mixins';

$cell-size: 40px;

.tic-tac-toe-board {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &.finished {
    opacity: 0.6;
  }
}

.row {
  display: flex;
  align-items: center;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $cell-size;
  height: $cell-size;
  border: 1px solid lightblue;
  margin: 2px;
  font-size: 22px;

  &:hover {
    cursor: default;
  }
}

.empty {
   &:hover {
    background-color: lightcyan;
    cursor: pointer;
  }
}

.status {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-row {
  margin: 2px;
  font-size: 16px;
  
  &.winner {
    color: green;
  }

  &.name {
    font-weight: bold;
  }
}

.restart {
  margin-top: 40px;
  background-color: lightcyan;
  border: none;
  color: black;
  padding: 3px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    outline: 1px solid lightblue;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    background-color: lightblue;
  }

}

.online, .offline {
  text-decoration: none;
}

.online {
  color: green;
}

.offline {
  color: darkred;
}

