@import '../../styles/mixins';

.tic-tac-toe-event-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  border: 1px dashed lightgray;
  padding-bottom: 15px;
  min-width: 500px;
  margin-top: 20px;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.event {
  display: flex;
  font-size: 14px;
}

.title {
  font-size: 14px;
  margin: 10px;
}
